<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <img src="" alt="" width="100%">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Assumenda dolor est ex magnam inventore, dignissimos harum, 
        beatae impedit corrupti eum quasi blanditiis veritatis iusto 
        laboriosam eligendi asperiores maxime consectetur non. 
        Perferendis non aliquid quibusdam illo nostrum omnis, 
        quasi corporis deserunt sed, repudiandae inventore voluptates 
        delectus ipsum eligendi ipsam eum debitis suscipit quisquam, 
        mollitia dicta ea nulla impedit eveniet quae. Cum illo 
        nam iusto dolor pariatur veniam atque doloremque suscipit
        <br>
         illum ut. Illum, eius maiores? Commodi architecto distinctio quod 
         expedita aut alias quidem necessitatibus? Et voluptatibus iste 
         necessitatibus fugit sunt nihil illo iure magnam inventore
          exercitationem, veniam nostrum cum quo. Recusandae
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           A velit dolores at quisquam rerum laudantium in perferendis
            voluptate ad porro!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, quas
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, cumque.
             Ipsum reprehenderit porro laudantium quidem, hic debitis voluptatum odio
              exercitationem soluta autem consequatur illo modi minus cumque quasi id
               temporibus, rem error asperiores officia quas laborum. Ipsa,
                praesentium soluta sunt suscipit ullam alias, deserunt aliquam
                 cum aut incidunt dicta. Inventore
    </p>
</div>